@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1280px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
}
